*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

body{
    background-color: hsl(225, 100%, 94%);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    width: 90%;
    background-color: white;
    border-radius: 1.5rem;
    overflow: hidden;
}

section{
    display: flex;
    align-items: center;
    width: 85%;
    padding: 1rem;
    border-radius: .7rem;
    background-color: hsl(225, 100%, 98%);
    justify-content: space-between;
}

button{
    width: 85%;
    padding: 1rem 2rem;
    border: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
    border-radius: .7rem;
    font-size: 1rem;
    box-shadow: 2px 20px 20px hsl(245, 75%, 90%);
}

aside{
    width: 100%;
}

h2{
    margin: 1.5rem;
}

.description{
    text-align: center;
    line-height: 1.6;
}

.hero_image{
    width: 100%;
}

.grey_text{
    color: hsl(224, 23%, 55%);
}

.cancel_link,button{
    font-weight: 700;
}

.cancel_link{
    text-decoration: none;
    margin: 1.5rem 0 2rem;
}

.description, section{
    margin-bottom: 1.5rem;
}

.left_section{
    display: flex;
    align-items: center;
}

.price_section{
    padding-left: 1.5rem;
    line-height: 1.5;
}

.change_link{
    font-size: .9rem;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

@media screen and (min-width:769px) {
    article{
        max-width: 400px;
    }
}