*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
}
